
  <div class="im">
      
    <img class="d-block w-100" src="../../assets/img/WhatsApp Image 2022-08-18 at 5.50.04 PM.jpeg" alt="First slide ">

  </div>
  <button style="margin-left: 620px;margin-top:400px ;" class="btn btn-info" 
   routerLink="/bus">GetStarted</button>  
 <br><br>
   <div class="card">
    <div class="card-header">
      Introduction About NEXTBUS
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">
       NEXTBUS Booking System is Web Based application,That works with in centralised network,It Provides facility to 
        reserved seats,different type of enquiry which need an instant and quick reservation.
        Buses may be used for scheduled bus transport, scheduled coach transport, school transport, private hire, 
        or tourism; promotional buses may be used for political campaigns and others are privately operated for a wide range of purposes, 
        including rock and pop band tour vehicles.
      </p>
    </div>
  </div>
  